@model IEnumerable<WebMvc.DAL.Models.Item>

<h1>Items</h1>


<table class="table">
    <thead>
        <tr>
            <th>Item Id</th>
            <th>Item GroupId</th>
            <th>Price</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.GroupId</td>
                <td>@item.Price</td>
                <td>@item.PhotoUrl</td>
                <td>
                    <button class="btn btn-danger delete-btn" data-id="@item.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a href="@Url.Action("Create", "Items")" class="btn btn-primary">Create New Item</a>
</div>
@section Scripts {
    <script>
        document.querySelectorAll('.delete-btn').forEach(button => {
            button.addEventListener('click', function () {
                const id = this.getAttribute('data-id');
                if (confirm('Are you sure you want to delete this warehouse?')) {
                    fetch(`/api/Items/${id}`, {
                        method: 'DELETE'
                    })
                        .then(response => {
                            if (response.ok) {
                                location.reload();
                            } else {
                                console.error('Failed to delete item.');
                            }
                        })
                        .catch(error => {
                            console.error('Error occurred while deleting item:', error);
                        });
                }
            });
        });
    </script>
}
